/* form styles*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: rgba(77,185,128,1)
}

form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.name, .email {
  background: transparent;
  color: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.7);
  border-radius: 5px;
  width: 48%;
  padding: 15px;
  margin-bottom: 15px;
  text-shadow: none;
}

.name {
  float: left;
}

.email {
  float: right;
}

.message {
  display: block;
  border: 1px solid rgba(255,255,255,.7);
  background: transparent;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

*placeholder {
  color: #fff;
}

*::-webkit-input-placeholder {
  color: #fff;
  }
*:-moz-placeholder {
  /* FF 4-18 */
  color: #fff;
      }
*::-moz-placeholder {
  /* FF 19+ */
  color: #fff;
          }
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
              }

.send {
  display: block;
  background: white;
  padding: 10px;
  width: 25%;
  color: rgba(77,185,128,1);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: bolder;
}

